.app-container {
  font-family: sans-serif;
  padding: 32px;
  background-color: #00bbd4f0; 
  max-width: 600px;         
  margin: 32px auto;         
  border-radius: 8px;        
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
  color: #fff;               
  text-align: center;
  
}
.titlePrj{
  font-size: 40px;
}
.tabs ul {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center; 
}

.tab-button {
  padding: 11px 32px;
  background: rgba(255, 255, 255, 0.3); 
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  border-radius: 20px;
  font-weight: 600;
  box-shadow: none;
}

.tab-button:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #222;
}

.tab-button.active {
  background: #ffffff;
  color: #00bbd4f0;
  font-weight: 700;
  box-shadow: 0 0 10px #ffffff;
}

.tab-content {
  margin-top: 32px;
  font-size: 28px;
  background: rgba(255, 255, 255, 0.2);
  padding: 24px;
  border-radius: 10px;
  min-height: 100px;
  color: #222222;
  text-align: center;
}
